<!DOCTYPE HTML>
<html ng-app='myApp'>
<head> 
    <meta charset="UTF-8">
	<title>Survey</title>
	<meta name="description" content="Survey">
	<link rel="stylesheet" type="text/css" href="../css/AmandaTemplate.css">
<!--     <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.min.js"></script> -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript">
        var myApp = angular.module('myApp', []);
    </script>

</head>

<body>	
    <div class="container">
        <div class="header">
            <h1><span>(MEAN) </span> Survey</h1>
            <h3>Assigment - Exam </h3>
            <div class="descr">
                <p>Assigment description: This is the page where all the survey shows</p>
            </div>
        </div><!-- end of header content-->
        <div class="maincontent">
            <h1>Dashboard Page</h1>
        </div><!-- end of main content-->
        <div class="footer">
            <p>created by: Amanda Fry</p>
            <a class="footerSpace" href="mailto:FeAmandaF@hotmail.com">FeAmandaF@hotmial.com</a>
            <a href="https://www.linkedin.com/in/amandafry1">Amanda's LinkedIn profile</a>
        </div><!-- end of footer -->
      </div><!-- end of container -->
</body>
</html>
